{% extends 'layout/layout.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% comment "Bloque que contiene el formulario" %}Contiene formulario{% endcomment %}
{% block content %}
<form method="post">
    <h1 class='text-center'>{{title}}</h1>
    {% csrf_token %}

    {{ form|crispy }}

    

    <button type='submit' class='btn btn-primary'> {{buttom}}</button>
    
</form>

{% comment "" %}to add extra{% endcomment %}
{% block contentForm %}
{{date}}


{% endblock contentForm %}

{% endblock content %}


