{% load custom_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "{% static 'lib/bootstrap-4.6.0/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/mystyles.css'%}">

        <script src= " {% static 'lib/bootstrap-4.6.0/js/jquery-3.6.0.min.js'%}"></script>
        <script src= " {% static 'lib/bootstrap-4.6.0/js/bootstrap.bundle.min.js'%}"></script>
        <script src= " {% static 'lib/bootstrap-4.6.0/js/popper.min.js'%}"></script>
        
        <title>{{ title }}</title>
        {% block header %}{% endblock header %}
    </head>
    <body>
        <div class="container">
            <div class="background">
                {% if request.user.is_authenticated %}
                    <nav class="barra">
                        <ul class="nav nav-tabs navbar-expand-sm justify-content-center ">
                            {% comment %} <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Clientes
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link " href="{% url 'empresas' %}">Empresas</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="nav-link " href="{% url 'customers' %}">Clientes</a>
                                    <div class="dropdown-divider"></div>
                            </li> {% endcomment %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'solicitud' %}">Solicitudes en General</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Operativo
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'preliminaries' %}">Preliminares</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'levantamientos' %}">Lev. Campo</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'reports'%}">Informes</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'levels' %}">Curvas de Nivel</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href=" {% url 'replant' %}">Replanteos</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'cadastral' %}">Catastros</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'corrections' %}">Correciones APT</a>
                                </div>
                            </li>
                            {% if request.user|has_group:"administrativo" or request.user|has_group:"staff"%}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administrativo
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'quotes' %}">Cotizaciones</a>
                    
                                    </div>
                                </li>
                            {% endif %}
                            {% if request.user|has_group:"financiero" or request.user|has_group:"staff"%}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Financiero
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'payments' %}">Pagos</a>
                                        
                                    </div>
                                </li>
                            {% endif %}
                            {% if request.user|has_group:"administrativo" or request.user|has_group:"staff"%}
                                <li class="nav-item">
                                    <a class="nav-link" target="_blank" href="{% url 'admin:index' %}">Admin Panel</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                            </li>
                        </ul> 
                    </nav>
                        
                         <!--<p class="bienvenido">Bienvenido(a) <strong>{{ user }}</strong>, por favor, selecciona una opción de la barra superior </p>-->
                        
                    {% else %}
                            <p class="bienvenido">Bienvenido, por favor <a href="{% url 'login' %}">inicia sesión</a></p>
                            
                {% endif %}


                {% block content %}
                      {% if request.user.is_authenticated  %}
                            <h1>Bienvenido(a) <strong>{{request.user}}</strong>, por favor selecciona una opción de arriba</h1>    
                      {% endif %}
                        
                {% endblock %}

                <footer class="container bottom">
                    <p class="text-center ">Quiros Topografía S.A.| Designed by Jose Benavides</p>
                </footer>
            </div>
        </div>
    </body>
        
</html>