{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "{% static 'lib/bootstrap-4.6.0/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/mystyles.css'%}">

        <script src= " {% static 'lib/bootstrap-4.6.0/js/jquery-3.6.0.min.js'%}"></script>
        <script src= " {% static 'lib/bootstrap-4.6.0/js/bootstrap.bundle.min.js'%}"></script>
        <script src= " {% static 'lib/bootstrap-4.6.0/js/popper.min.js'%}"></script>
        
        <title>{{ title }}</title>
        {% block header %}{% endblock header %}
    </head>
    <body>
        <div class="container">
            <div class="background">
                {% if request.user.is_authenticated %}
                    <nav class="barra">
                        <ul class="nav nav-tabs justify-content-center ">
                            
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'empresas' %}">Empresas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'customers' %}">Clientes</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Solicitudes
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'solicitud' %}">En General</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'reports'%}">Informes</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'levels' %}">Curvas de Nivel</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href=" {% url 'replant' %}">Replanteos</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'cadastral' %}">Catastros</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'levantamientos' %}">Levantamientos de Campo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                            </li>
                            
                        </ul> 
                    </nav>
                    {% else %}
                            <p class="bienvenido">Bienvenido, por favor <a href="{% url 'login' %}">inicia sesión</a></p>
                            
                {% endif %}


                {% block content %}
                    {% comment "inser" %}insertar logo de quiros topografía como una tarjeta si no ha iniciado sesión{% endcomment %}
                
                {% endblock %}

                <footer class="container bottom">
                    <p class="text-center ">Quiros Topografía S.A.| Designed by Jose Benavides</p>
                </footer>
            </div>
        </div>
    </body>
        
</html>