{% extends 'layout/listar.html' %}

{% block table %}
    <h1 class='text-center'>Listado de Catastros</h1>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Asignado a</th>
                <th>Revisión</th>
                <th>timbres</th>
                <th>Subido APT</th>
                <th>Estatus:</th>
                <th>Editar</th>
            </tr>
        </thead>

        <tbody>
                {% for element in object_list %}
                <tr>
                    <td><a href="{% url 'complete-request' element.solicitud_id.service element.solicitud_id.id%} ">{{element.solicitud_id}}</a></td>
                    <td>{{element.assigned_to}}</td>
                    <td>{{element.review}}</td>
                    <td>{{element.timbres}}</td>
                    <td>{{element.uploadedAPT}}</td>
                    <td>{{element.status}}</td>
                    <td><a href="{% url 'edit-cadastral' element.id %}"><i class="fas fa-edit fa-lg justify-content-center"></i> </td> </a>
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock table %}