{% extends 'layout/listar.html' %}

{% block table %}
    <h1 class='text-center'>Listado de Catastros</h1>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Dibujo</th>
                <th>Revisión</th>
                <th>Subido APT</th>
                <th>Plano Catastrado el:</th>
                <th>Editar</th>
            </tr>
        </thead>

        <tbody>
                {% for element in object_list %}
                <tr>
                    <td>{{element.solicitud_id}}</td>
                    <td>{{element.draw}}</td>
                    <td>{{element.review}}</td>
                    <td>{{element.uploadedAPT}}</td>
                    <td>{{element.advertisedPlano}}</td>
                    <td><a href="{% url 'edit-cadastral' element.id %}"><i class="fas fa-edit fa-lg justify-content-center"></i> </td> </a>
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock table %}