{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exito</title>
    <link rel="stylesheet" href= "{% static 'lib/bootstrap-4.6.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyles.css'%}">

    

    <script src= " {% static 'lib/bootstrap-4.6.0/js/jquery-3.6.0.min.js'%}"></script>
    <script src= " {% static 'lib/bootstrap-4.6.0/js/bootstrap.bundle.min.js'%}"></script>
    <script src= " {% static 'lib/bootstrap-4.6.0/js/popper.min.js'%}"></script>
</head>
<body>
        <div class="card mx-auto mt-5" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'img/logoqt.jpg'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Contraseña cambiada exitosamente</h5>
                <p class="card-text">Ahora puede iniciar sesión.</p>
                <a href="{% url 'login'%}" class="btn btn-primary">Iniciar sesión</a>
            </div>
        </div>
</body>
</html>