{% extends 'layout/layout.html' %}

{% block content %}
<!-- first solicitud-->
    
                    <div class="card" style="width: 100%%;">
                        <div class="row">
                            <div class="col">
                                <img src="{{solicitud.plan.url}}" class="card-img-top center" style="width:30rem" alt="Plano">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h3 class="card-title">ID de Solicitud:[{{solicitud.id}}]|{{ solicitud.name }}</h3>
                                    <p class="card-text">Cliente: {{ solicitud.customer_id }}.</p>
                                    <p class="card-text">Contacto en sitio: {{ solicitud.contact }}.</p><hr>
                                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->

                                        <!--preliminar-->
                                            <h3 class="card-title">Preliminar</h3>
                                            <p class="card-text">Asignado a: {{preliminar.assigned_to}}.</p>
                                            <p class="card-text">Marca Ubicación: {{preliminar.locationMark}}.</p>
                                            <p class="card-text">Google Maps: {{preliminar.googleMaps}}.</p>
                                            <p class="card-text">Croquis preliminares: {{preliminar.sketch}}.</p>
                                            <p class="card-text">Preliminar de Documento: {{preliminar.document}}.</p>
                                            <p class="card-text">Estado: {{preliminar.status}}.</p><hr>
                                        

                                        
                                        <!-- third fieldSurvey-->
                                        {% for element in campo %}
                                                        <h3 class="card-title">Levantamiento de Campo</h3>
                                                        <p class="card-text">Fecha Tentativa: {{element.tentativeDate}}.</p>
                                                        <p class="card-text">Fecha Propuesta: {{element.proposedDate}}.</p>
                                                        <p class="card-text">Fecha Lev. Campo: {{element.fieldSurveyDate}}.</p>
                                                        <p class="card-text">Fecha de conclusión: {{element.conclusionDate}}.</p>
                                                        <p class="card-text">Datos descargados: {{element.downloadedData}}.</p>
                                        {% endfor %}
                                    <!-- end fieldSurvey-->

                                    <!-- second service-->
                                    
                                        {% for field in service%}
                                                        <h3 class="card-title">Replanteo</h3>
                                                        <p class="card-text">Información Armada: {{ field.armedInformation }}.</p>
                                                        <p class="card-text">Alineamiento de Plano: {{ field.alignedPlan }}.</p>
                                                        <p class="card-text">Archivos de Replanteo: {{ field.files_replant }}.</p>
                                                        <p class="card-text">Replanteo de puntos en sitio: {{ field.replantingPoints }}.</p>
                                                        <p class="card-text">Descarga de fotos: {{ field.downloadedPhotos }}.</p>
                                                        <p class="card-text">Laminas terminadas: {{ field.sketch }}.</p>
                                                        <p class="card-text">Documento redactado: {{ field.drafting }}.</p>
                                                        <p class="card-text">Revisado: {{ field.review }}.</p>
                                                        <p class="card-text">Reporte enviado el: {{ field.submittedReport }}.</p><hr>
                                        {% endfor %}
                                        <!-- end service-->
                                    
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock content %}






